@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    background-color: #000000;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    flex-wrap: wrap;
}
nav img{
    z-index: 1;
}
.langdrop{
    background-color: rgb(24, 24, 24);
    color: rgb(220, 217, 217);
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
}
nav button{
    background-color: #e50815;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    position: relative;
    z-index: 1;
}
.main{
    height: 43rem;
    width: 100%;
    background-image: url('Assets/background_img.jpeg');
    background-size: cover;
    position: relative;
}
.main .box{
    height: 43rem;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
    
}
.intro{
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    gap: 25px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
.intro > :nth-child(1){
    font-size: 48px;
    font-weight: 800;
}
.intro > :nth-child(2){
    font-size: 24px;
}
.email{
    background-color: rgba(0, 0, 0, 0.48);
    border: 1px solid rgb(112, 110, 110);
    border-radius: 5px;
    padding: 14px 140px 14px 10px;
    font-size: 18px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: white;
    height: 56px;
}
.start{
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    background-color: #e50815;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    height: 56px;
}
.tv{
    height: 36rem;
    display: flex;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: center;

}
.tv .text{
    color: white;
}
.tv .text > :nth-child(1){
    font-size: 48px;
    font-weight: 700;
}
.tv .text > :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.tv .vid{
    position: relative;
}
.tv .vid img{
    width: 35vw;
    max-height: 35rem;
/*     min-width: 13rem; */
    object-fit: contain;
}
.tv .vid video{
    position: absolute;
    width: 27vw;
/*     min-width: 10rem; */
    top: 5vw;
    left: 5vw;
    z-index: -1;
}
.separation{
    background-color: rgb(42, 42, 42);
    height: 0.45rem;
}
.tv2 .vid video{
    position: absolute;
    width: 23vw;
/*     min-width: 8rem; */
    top: 2vw;
    left: 6vw;
    z-index: -1;
}
.faqs{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px 30px;
}
.faqs .q{
    height: 75px;
    width: 80vw;
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding: 1.5rem;
}
.faqs h1{
    font-size: 48px;
    font-weight: 700;
}
.faqs h3{
    margin-top: 40px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 35px;
    color: rgb(142, 139, 139);
    padding: 50px;
}
footer .grid{
    text-decoration: underline;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid > :first-child{
    grid-column: span 4;
}
.grid .langdrop{
    grid-column: span 4;
    max-width: 120px;
}


@media screen and ( max-width : 962px ) {
    nav{
        padding-top:30px ;
        height: 3rem;
    }
    nav >:nth-child(1){
        height: 25px;
        width: 90px;
    }
    nav >:nth-child(2) > select{
        height: 25px;
        width: 60px;
        font-size: 10px;
        padding: 0px;
        margin-right: 2px;
    }
    nav >:nth-child(2) > button{
        height: 25px;
        width: 70px;
        font-size: 10px;
        padding: 5px 5px;
    }
    .main .intro > :nth-child(1) {
        font-size: 32px;
        line-height: 2rem;
        font-weight: 600;
    } 
    .main .intro > :nth-child(2){
        font-size: 18px;
        font-weight: 400;
    }
    .main .intro > :nth-child(3){
        font-size: 16px;
        font-weight: 400;
    }
    .tv{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .tv .text > :first-child{
        font-size: 32px;
        text-align: center;
    }
    .tv .text > :nth-child(2){
        font-size: 18px;
        text-align: center;
    }
    .faqs h1, .faqs h3, .faqs .lastemail{
        text-align: center;
    }
    footer .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .grid p{
        grid-column: span 2;
    }
}
@media (max-width:560px) {
    .email{
        width: 80vw;
    }
    .intro{
        width: 90vw;
    }
}
